{% extends "base.html" %} 

{% block title %} 
  Create Route - Route Planner 
{%endblock %} 

{% block main %}
  <div 
    class="
      flex 
      flex-col 
      flex-wrap 
      content-center 
      justify-center 
      my-[2%] 
      p-6"
      >
    <h2 class="text-2xl font-bold mb-4">
      Complete Route Creating
    </h2>

    <!-- Form to Finish Route Creation (name / description) -->
    <form 
      class="max-w-lg" 
      action="/create"
      method="post" 
      id="create-route-form"
      >
      <div class="mb-4">
        <label 
          class="
            block 
            font-bold 
            mb-2
            " 
          for="name"
          >
          Route Name
        </label>
        <input
          class="border rounded w-full py-2 px-3"
          type="text"
          id="name"
          name="name"
          placeholder="Route name"
          required
          autofocus
        />
      </div>
      <div class="mb-4">
        <label 
          class="
            block 
            font-bold 
            mb-2
            " 
            for="description"
          >
          Route Description
        </label>
        <textarea
          class="
            border 
            rounded 
            w-full 
            py-2 
            px-3 
            resize-none
            "
          name="description"
          id="description"
          autocorrect="on"
        >
        </textarea>
      </div>  

      <!-- Hidden Inputs for Route Metadata -->
      <div class="hidden-inputs">
        <input type="hidden" id="coordinates" name="coordinates" />
        <input type="hidden" id="totalDistance" name="total_distance" />
        <input type="hidden" id="elevationGain" name="elevation_gain" />
        <input type="hidden" id="elevationLoss" name="elevation_loss" />
        <input type="hidden" id="maxElevation" name="max_elevation" />
        <input type="hidden" id="minElevation" name="min_elevation" />
        <input type="hidden" id="avgElevation" name="avg_elevation" />
      </div>
      <button
        class="
          w-full 
          bg-blue-600 
          text-white 
          px-4 
          py-2 
          rounded-lg 
          hover:bg-blue-700 
          cursor-pointer
          disabled:opacity-50 
          disabled:cursor-not-allowed
          "
        type="submit"
        data-submit-button
        disabled
        >
        Save Route
      </button>
    </form>

  </div>

  

  <!-- JS Scripts for Handling Route Form Submission and Validation -->
  <script src="/static/js/create_route.js" type="module"></script>
  <script src="{{ url_for('static', filename='js/form_disable.js') }}"></script>

{% endblock %}